<section class="customer">
    <div class="container py-5 px-5">
        <div class="row ">
            <div class="  ">
                <div class="text text-primary">
                    <h1 class="fw-bolder">Customers</h1>
                </div>
                <input matInput class="form-control w-75 mb-3 mt-3" placeholder="Please write your full name..." type="text" [(ngModel)]="searchKey" (keyup.enter)="onGetCustomersData()">
 
                <div class="table">
                    <table class="table">
                        <thead class="">
                            <tr class="bg-warning">
                                <th class="col-3 bg-primary text-white">ID</th>
                                <th class="col-3 bg-primary text-white">Name</th>
                                <th class="col-3 bg-primary text-white">Transaction Count</th>
                                <th class="col-3 bg-primary text-white">Total Amount</th>
                             
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of customersWithTransactions">
                                <td class="">{{item.id}}</td>
                                <td class="">{{item.name}}</td>
                                <td class="">{{item.transactionCount}}</td>
                                <td class="">{{item.totalAmount}}</td>
                             
                              </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="chartUser" class="bg-white col-5  shadow-sm chart border p-5 mb-3  rounded-3">
                <h2 class="text-gray">Customers</h2>
                  <canvas id="userChart" class="userChart">{{newChart}}</canvas>
                </div>
        </div>
        </div>

</section>
